pdf2image==1.17.0
langchain==0.2.7 
langchain-community==0.2.7
python-dotenv==1.0.1
openai==1.35.13
transformers~=4.42
matplotlib==3.9.1
pandas~=2.2
tiktoken==0.7.0
azure-search-documents==11.6.0b4
azure-ai-generative==1.0.0b8
azure-cognitiveservices-speech==1.38.0
scikit-learn==1.5.1
datasets~=2.20
Jinja2